# Grafana Ingress - HTTPS via cert-manager
# ========================================
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: monitoring

resources:
  - certificate.yaml
  - ingress.yaml
  - rbac-ingress-nginx-tls.yaml
