# Ingress NGINX Installation via Kustomize
# =========================================
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  # Manifest officiel Ingress NGINX pour deploiements bare-metal
  # Syntaxe GitHub pour Kustomize
  - github.com/kubernetes/ingress-nginx/deploy/static/provider/baremetal?ref=controller-v1.9.5

# Patch pour configurer les NodePorts
patches:
  - patch: |-
      - op: replace
        path: /spec/type
        value: NodePort
      - op: replace
        path: /spec/ports/0/nodePort
        value: 30080
      - op: replace
        path: /spec/ports/1/nodePort
        value: 30443
    target:
      kind: Service
      name: ingress-nginx-controller
      namespace: ingress-nginx
